body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

button {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: black;
    border-color: black;
    margin-bottom: 30px;
}

#container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 35px;
}

div {
    flex: auto;
    text-align: center;
}

#rock {
    background-image: url(images/rock.svg)
}

#paper {
    background-image: url(images/paper.svg)
}

#scissors {
    background-image: url(images/scissors.svg)
}

div {
    color: black;
}

#title {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
}

#play-again {
    margin-top: 50px;
    border-radius: 5px;
    font-size: 50px;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    padding: 5px 20px;
}

.hidden {
    visibility: hidden;
}

#rock:hover,
#paper:hover,
#scissors:hover { 
    transform: scale(1.05);
}

#rock:active,
#paper:active,
#scissors:active {
    transform: translateY(10px);
}

#play-again:hover {
    color: white;
    border-color: white;
}

#play-again:active {
    transform: scale(1.1);
}